<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="nopcommerce" thread-count="3" parallel="false">
  <test name="nopcommercetest">
    <classes>
      <class name="com.nopcommerce.testCases.TC_testLogin_001"/>
      <class name="com.nopcommerce.testCases.TC_addCustomer_003"/>
      <class name="com.nopcommerce.testCases.TC_DataDriven_Test_002"/>
      <class name="com.nopcommerce.testCases.TC_SearchCustomer_004"/>
    </classes>
  </test> 
</suite> 